/* Your styles goes here. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}

.block_draggable,
.block_draggable__display,
.block_draggable__numbers,
.block_draggable__equal{
  width: 240px;
  height: 60px;
  border: 2px solid gainsboro;
  margin: 0 auto;
  cursor: grab;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-box-shadow: 1px 11px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 11px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 11px 8px 0px rgba(34, 60, 80, 0.2);
}
.block_draggable__display {
  padding: 4px 8px;
}
.block_draggable__numbers {
  width: 240px;
  height: 224px;
}
.block_draggable__equal {
  width: 240px;
  height: 72px;
  margin-bottom: 0;
}
.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 106px;
}
.flex_first {

}
.flex_second {
  width: 243px;
  height: 448px;
  //padding: 20px;
  margin-left: 20px;
  border: 2px dashed #C4C4C4;
  border-radius: 6px;
  user-select: none;
}
.flex_second_lighting {
  width: 243px;
  height: 448px;
  //padding: 20px;
  margin-left: 20px;
  border: 2px dashed #C4C4C4;
  border-radius: 6px;
  user-select: none;
  background: #F0F9FF;
}
.one-element {
  width: 0;
  height: 0;
}
.num-block {
  width: 240px;
  height: 224px;
  display: flex;
  justify-content: space-between;
}