.output {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #111827;
  width: 232px;
  height: 52px;
  border: 2px solid gainsboro;
  margin: 0 auto;
  cursor: grab;
  //margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  //padding: 4px 8px;
  background: #F3F4F6;
  border-radius: 6px;
}